'.text.html.php.blade':
  # Common snippets
  '{{-- comment --}}':
    'description': 'Blade comment.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#comments'
    'prefix': 'com'
    'body': '{{-- ${1:comment} --}}$0'
  '{{ $message }}':
    'description': 'Evaluates code and escapes the resulting string.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#displaying-data'
    'prefix': 'echo'
    'body': '{{ ${1:$${2:message}} }}$0'
  '{{{ $message }}}':
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#displaying-data'
    'description': 'Evaluates code and escapes the resulting string using e() helper.'
    'prefix': 'echoh'
    'body': '{{{ ${1:$${2:message}} }}}$0'
  '{!! $message !!}':
    'description': 'Evaluates code without escaping the resulting string.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#displaying-data'
    'prefix': 'raw'
    'body': '{!! ${1:$${2:message}} !!}$0'
  '{{ csrf_field() }}':
    'description': 'Includes a CSRF field for use in forms.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/csrf#csrf-introduction'
    'prefix': 'csrf'
    'body': '{{ csrf_field() }}$0'
  # Snippets without @ in prefix
  '@else':
    'description': 'Control structure for use with if statements.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'else'
    'body': '@else$0'
  '@append':
    'description': 'Appends defined section to an existing one of the same name.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': 'append'
    'body': '@append$0'
  '@overwrite':
    'description': 'Overwrites a defined section.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': 'overwrite'
    'body': '@overwrite$0'
  '@show':
    'description': 'Shows and yields immediately a defined section.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': 'show'
    'body': '@show$0'
  '@stop':
    'description': 'Alternative syntax for @endsection.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': 'stop'
    'body': '@stop$0'
  '@parent':
    'description': 'Appends content a section instead of overwriting.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#extending-a-layout'
    'prefix': 'parent'
    'body': '@parent$0'
  '@elseif (…)':
    'description': 'Elseif branch used in if statements.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'elseif'
    'body': '@elseif (${1:$${2:condition}})$0'
  '@foreach (…) … @endforeach':
    'description': 'Foreach loop.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': 'foreach'
    'body': '''
             @foreach (${1:$${2:iterable}} as ${3:$${4:key}}${5: => ${6:$${7:value}}})
             \t$0
             @endforeach
             '''
  '@if (…) … @else … @endif':
    'description': 'If-else statement.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'ifelse'
    'body': '''
              @if (${1:$${2:condition}})
              \t$3
              @else
              \t$0
              @endif
              '''
  '@if (…) … @endif':
    'description': 'If statement.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'if'
    'body': '''
              @if (${1:$${2:condition}})
              \t$0
              @endif
              '''
  "@choice('language.line', 1)":
    'description': 'Displays a pluralized localized string.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/localization#pluralization'
    'prefix': 'choice'
    'body': "@choice('${1:category.line}', ${2:1})$0"
  "@each('view', $data, 'iterator', 'empty')":
    'description': 'Iterates over a collection, displaying contents of a view for each element.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#rendering-views-for-collections'
    'prefix': 'each'
    'body': "@each('${1:view}', ${2:$${3:iterable}}, '${4:value}', '${5:empty}')$0"
  "@extends('view')":
    'description': 'Extends a layout.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#extending-a-layout'
    'prefix': 'extends'
    'body': "@extends('${1:view}')$0"
  '@for …':
    'description': 'For loop.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': 'for'
    'body': '''
              @for ($${1:i}=${2:0}; $${1:i} < ${3:10}; $${1:i}++)
              \t$0
              @endfor
              '''
  '@forelse (…) … @empty … @endforelse':
    'description': 'Executes a foreach loop or displays contents of @empty block if there are no entries.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': 'forelse'
    'body': '''
              @forelse ($${1:variable} as $${2:key}${3: => $${4:value}})
              \t$5
              @empty
              \t$0
              @endforelse
              '''
  "@include('view')":
    'description': 'Includes a sub-view.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#including-sub-views'
    'prefix': 'include'
    'body': "@include('${1:view}')$0"
  "@lang('category.line')":
    'description': 'Displays a localized string.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/localization#retrieving-translation-strings'
    'prefix': 'lang'
    'body': "@lang('${1:category.line}')$0"
  "@prepend('name') … @endprepend":
    'description': 'Prepends content to stack.'
    'descriptionMoreURL': 'https://laravel-news.com/blade-prepend'
    'prefix': 'prepend'
    'body': '''
              @prepend('${1:name}')
              \t$0
              @endprepend
              '''
  "@push('name') … @endpush":
    'description': 'Pushes content to stack.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#stacks'
    'prefix': 'push'
    'body': '''
              @push('${1:name}')
              \t$0
              @endpush
              '''
  "@section('name') … @endsection":
    'description': 'Defines a section of content.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': 'sec'
    'body': '''
              @section('${1:name}')
              \t$0
              @endsection
              '''
  "@stack('name')":
    'description': 'Renders contents of the stack.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#stacks'
    'prefix': 'stack'
    'body': "@stack('${1:name}')$0"
  '@unless (…) … @endunless':
    'description': 'Shorthand for if-not statement.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'unless'
    'body': '''
              @unless (${1:$${2:condition}})
              \t$0
              @endunless
              '''
  '@while …':
    'description': 'While loop.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': 'while'
    'body': '''
              @while (${1:$${2:condition}})
              \t$0
              @endwhile
              '''
  "@yield('section')":
    'description': 'Displays contents of a given section.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': 'yield'
    'body': "@yield('${1:section}')$0"
  '@php …':
    'description': 'Embeds PHP code.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#php'
    'prefix': 'php'
    'body': '''
              @php
              \t$0
              @endphp
              '''
  "@component('component')":
    'description': 'Constructs a component.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#components-and-slots'
    'prefix': 'component'
    'body': '''
              @component('${1:component}')
              \t$0
              @endcomponent
              '''
  "@slot('variable')":
    'description': 'Injects content into slot variable.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#components-and-slots'
    'prefix': 'slot'
    'body': '''
              @slot('${1:variable}')
              \t$0
              @endslot
              '''
  '@isset($var)':
    'description': 'Determines whether a variable is considered to be empty using PHP isset() function.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'isset'
    'body': '''
              @isset(${1:$var})
              \t$0
              @endisset
              '''
  '@verbatim':
    'description': 'Protects text from being processed as Blade syntax.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#blade-and-javascript-frameworks'
    'prefix': 'verbatim'
    'body': '''
              @verbatim
              \t$0
              @endverbatim
              '''
  '@empty':
    'description': 'Determines whether a variable is considered to be empty using PHP empty() function.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'empty'
    'body': '''
              @empty (${1:$var})
              \t$0
              @endempty
              '''
  '@continue':
    'description': 'Continue statement used in loops.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': 'continue'
    'body': '@continue${1:(${2:$${3:condition}})}$0'
  '@break':
    'description': 'Break statement used in switches and loops.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade'
    'prefix': 'break'
    'body': '@break${1:(${2:$${3:condition}})}$0'
  '@includeif':
    'description': 'Includes a view if present.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#including-sub-views'
    'prefix': 'includeif'
    'body': "@includeif('${1:view}', ${2:$${3:data}})$0"
  '@inject':
    'description': 'Retrieves a service from the Laravel service container.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#service-injection'
    'prefix': 'inject'
    'body': "@inject('${1:var}', ${2:${3:SomeClass}::class})$0"
  '@can':
    'description': 'Determines whether user has been authorized to perform an action.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/authorization#via-blade-templates'
    'prefix': 'can'
    'body': '''
              @can ('${1:update}', ${2:$post})
              \t$0
              @endcan
              '''
  '@cannot':
    'description': 'Determines whether user has not been authorized to perform an action.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/authorization#via-blade-templates'
    'prefix': 'cannot'
    'body': '''
              @cannot ('${1:update}', ${2:$post})
              \t$0
              @endcannot
              '''
  '@auth':
    'description': 'Determines whether user has authenticated.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'auth'
    'body': '''
              @auth${1: ('${2:admin}')}
              \t$0
              @endauth
              '''
  '@guest':
    'description': 'Determines whether user is guest.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': 'guest'
    'body': '''
              @guest
              \t$0
              @endguest
              '''
  # The following snippets are identical to the ones above with the exception that the prefix includes the @-symbol.
  # This solves the edge case where for instance typing @if<TAB> will result in expanding to @@if... but should
  # resolve to @if... instead.
  #
  # In order to not overwrite the completions above, all of them have a space appended to the key of the completion.
  #
  # We shouldn't be doing this once https://github.com/atom/snippets/issues/107 is solved.
  '@else ':
    'description': 'Control structure for use with if statements.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@else'
    'body': '@else$0'
  '@append ':
    'description': 'Appends defined section to an existing one of the same name.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': '@append'
    'body': '@append$0'
  '@overwrite ':
    'description': 'Overwrites a defined section.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': '@overwrite'
    'body': '@overwrite$0'
  '@show ':
    'description': 'Shows and yields immediately a defined section.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': '@show'
    'body': '@show$0'
  '@stop ':
    'description': 'Alternative syntax for @endsection.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': '@stop'
    'body': '@stop$0'
  '@parent ':
    'description': 'Appends content a section instead of overwriting.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#extending-a-layout'
    'prefix': '@parent'
    'body': '@parent$0'
  '@elseif (…) ':
    'description': 'Elseif branch used in if statements.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@elseif'
    'body': '@elseif (${1:$${2:condition}})$0'
  '@foreach (…) … @endforeach ':
    'description': 'Foreach loop.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': '@foreach'
    'body': '''
             @foreach (${1:$${2:iterable}} as ${3:$${4:key}}${5: => ${6:$${7:value}}})
             \t$0
             @endforeach
             '''
  '@if (…) … @else … @endif ':
    'description': 'If-else statement.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@ifelse'
    'body': '''
              @if (${1:$${2:condition}})
              \t$3
              @else
              \t$0
              @endif
              '''
  '@if (…) … @endif ':
    'description': 'If statement.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@if'
    'body': '''
              @if (${1:$${2:condition}})
              \t$0
              @endif
              '''
  "@choice('language.line', 1) ":
    'description': 'Displays a pluralized localized string.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/localization#pluralization'
    'prefix': '@choice'
    'body': "@choice('${1:category.line}', ${2:1})$0"
  "@each('view', $data, 'iterator', 'empty') ":
    'description': 'Iterates over a collection, displaying contents of a view for each element.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#rendering-views-for-collections'
    'prefix': '@each'
    'body': "@each('${1:view}', ${2:$${3:iterable}}, '${4:value}', '${5:empty}')$0"
  "@extends('view') ":
    'description': 'Extends a layout.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#extending-a-layout'
    'prefix': '@extends'
    'body': "@extends('${1:view}')$0"
  '@for … ':
    'description': 'For loop.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': '@for'
    'body': '''
              @for ($${1:i}=${2:0}; $${1:i} < ${3:10}; $${1:i}++)
              \t$0
              @endfor
              '''
  '@forelse (…) … @empty … @endforelse ':
    'description': 'Executes a foreach loop or displays contents of @empty block if there are no entries.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': '@forelse'
    'body': '''
              @forelse ($${1:variable} as $${2:key}${3: => $${4:value}})
              \t$5
              @empty
              \t$0
              @endforelse
              '''
  "@include('view') ":
    'description': 'Includes a sub-view.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#including-sub-views'
    'prefix': '@include'
    'body': "@include('${1:view}')$0"
  "@lang('category.line') ":
    'description': 'Displays a localized string.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/localization#retrieving-translation-strings'
    'prefix': '@lang'
    'body': "@lang('${1:category.line}')$0"
  "@prepend('name') … @endprepend ":
    'description': 'Prepends content to stack.'
    'descriptionMoreURL': 'https://laravel-news.com/blade-prepend'
    'prefix': '@prepend'
    'body': '''
              @prepend('${1:name}')
              \t$0
              @endprepend
              '''
  "@push('name') … @endpush ":
    'description': 'Pushes content to stack.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#stacks'
    'prefix': '@push'
    'body': '''
              @push('${1:name}')
              \t$0
              @endpush
              '''
  "@section('name') … @endsection ":
    'description': 'Defines a section of content.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': '@sec'
    'body': '''
              @section('${1:name}')
              \t$0
              @endsection
              '''
  "@stack('name') ":
    'description': 'Renders contents of the stack.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#stacks'
    'prefix': '@stack'
    'body': "@stack('${1:name}')$0"
  '@unless (…) … @endunless ':
    'description': 'Shorthand for if-not statement.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@unless'
    'body': '''
              @unless (${1:$${2:condition}})
              \t$0
              @endunless
              '''
  '@while … ':
    'description': 'While loop.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': '@while'
    'body': '''
              @while (${1:$${2:condition}})
              \t$0
              @endwhile
              '''
  "@yield('section') ":
    'description': 'Displays contents of a given section.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#defining-a-layout'
    'prefix': '@yield'
    'body': "@yield('${1:section}')$0"
  '@php … ':
    'description': 'Embeds PHP code.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#php'
    'prefix': '@php'
    'body': '''
              @php
              \t$0
              @endphp
              '''
  "@component('component') ":
    'description': 'Constructs a component.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#components-and-slots'
    'prefix': '@component'
    'body': '''
              @component('${1:component}')
              \t$0
              @endcomponent
              '''
  "@slot('variable') ":
    'description': 'Injects content into slot variable.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#components-and-slots'
    'prefix': '@slot'
    'body': '''
              @slot('${1:variable}')
              \t$0
              @endslot
              '''
  '@isset($var) ':
    'description': 'Determines whether a variable is considered to be empty using PHP isset() function.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@isset'
    'body': '''
              @isset(${1:$var})
              \t$0
              @endisset
              '''
  '@verbatim ':
    'description': 'Protects text from being processed as Blade syntax.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#blade-and-javascript-frameworks'
    'prefix': '@verbatim'
    'body': '''
              @verbatim
              \t$0
              @endverbatim
              '''
  '@empty ':
    'description': 'Determines whether a variable is considered to be empty using PHP empty() function.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@empty'
    'body': '''
              @empty (${1:$var})
              \t$0
              @endempty
              '''
  '@continue ':
    'description': 'Continue statement used in loops.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#loops'
    'prefix': '@continue'
    'body': '@continue${1:(${2:$${3:condition}})}$0'
  '@break ':
    'description': 'Break statement used in switches and loops.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade'
    'prefix': '@break'
    'body': '@break${1:(${2:$${3:condition}})}$0'
  '@includeif ':
    'description': 'Includes a view if present.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#including-sub-views'
    'prefix': '@includeif'
    'body': "@includeif('${1:view}', ${2:$${3:data}})$0"
  '@inject ':
    'description': 'Retrieves a service from the Laravel service container.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#service-injection'
    'prefix': '@inject'
    'body': "@inject('${1:var}', ${2:${3:SomeClass}::class})$0"
  '@can ':
    'description': 'Determines whether user has been authorized to perform an action.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/authorization#via-blade-templates'
    'prefix': '@can'
    'body': '''
              @can ('${1:update}', ${2:$post})
              \t$0
              @endcan
              '''
  '@cannot ':
    'description': 'Determines whether user has not been authorized to perform an action.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/authorization#via-blade-templates'
    'prefix': '@cannot'
    'body': '''
              @cannot ('${1:update}', ${2:$post})
              \t$0
              @endcannot
              '''
  '@auth ':
    'description': 'Determines whether user has authenticated.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@auth'
    'body': '''
              @auth${1: ('${2:admin}')}
              \t$0
              @endauth
              '''
  '@guest ':
    'description': 'Determines whether user is guest.'
    'descriptionMoreURL': 'https://laravel.com/docs/master/blade#if-statements'
    'prefix': '@guest'
    'body': '''
              @guest
              \t$0
              @endguest
              '''
