'.text.html.php.blade':
  'editor':
    'increaseIndentPattern': '''(?x)
      # From language-html
      <(?!\\?|(?:area|base|br|col|frame|hr|html|img|input|link|meta|param)\\b|[^>]*/>)
      ([-_\\.A-Za-z0-9]+)(?=\\s|>)\\b[^>]*>(?!.*</\\1>)
      |<!--(?!.*-->)
      |<\\?php.+?\\b(if|else(?:if)?|for(?:each)?|while)\\b.*:(?!.*end\\2)
      |\\{[^}"\']*$
      # Blade specific
      |(?<![A-Za-z0-9_@])
       @
       (?:
        [Cc]an
       |[Cc]annot
       |[Cc]omponent
       |[Ee]lse
       |[Ee]lsecan
       |[Ee]lsecannot
       |[Ee]lseif
       |[Ee]mpty
       |[Ff]or
       |[Ff]oreach
       |[Ff]orelse
       |[Hh]asSection
       |[Ii]f
       |[Ss]lot
       |[Uu]nless
       |verbatim
       |[Ww]hile
       )
       \\b
      |(?<![A-Za-z0-9_@])
       @[Pp]hp\\b
       (?! # Not followed by
        [\\t ]*\\( # Single line @php ($expression)
       |.*(?<![A-Za-z0-9_@])@[Ee]ndphp\\b # @endphp on same line
       )
      |(?<![A-Za-z0-9_@])
       @[Ll]ang\\b
       (?! # Not followed by
        [\\t ]*\\( # Single line @lang ($expression)
       |.*(?<![A-Za-z0-9_@])@[Ee]ndlang\\b # @endlang on same line
       )
      |(?<![A-Za-z0-9_@])
       @(?:[Ss]ection|[Pp]repend|[Pp]ush)\\b
       (?! # Not followed by
        [\\t ]*\\((?:"[^"]*"|'[^']*'), # Comma after string argument
       )
    '''
    'decreaseIndentPattern': '''(?x)
      # From language-html
      ^\\s*
      (</(?!html)
        [-_\\.A-Za-z0-9]+\\b[^>]*>
        |-->
        |<\\?(php)?\\s+(else(if)?|end(if|for(each)?|while))
        |\\}
        # Blade specific
        |(?<![A-Za-z0-9_@])
         @
         (
          [Aa]ppend
         |[Ee]lse
         |[Ee]lsecan
         |[Ee]lsecannot
         |[Ee]lseif
         |[Ee]mpty
         |[Ee]ndcan
         |[Ee]ndcannot
         |[Ee]ndcomponent
         |[Ee]ndfor
         |[Ee]ndforeach
         |[Ee]ndforelse
         |[Ee]ndif
         |[Ee]ndlang
         |[Ee]ndphp
         |[Ee]ndprepend
         |[Ee]ndpush
         |[Ee]ndsection
         |[Ee]ndslot
         |[Ee]ndunless
         |endverbatim
         |[Ee]ndwhile
         |[Oo]verwrite
         |[Ss]how
         |[Ss]top
         )
         \\b
      )
    '''
# Required because of .source.php HACK
'.support.function.construct.end.blade .source.php':
  'editor':
    'decreaseIndentPattern': '''
      (?x) # From language-php
      ^(.* \\*\\/)?\\s*
      # Blade specific
      (}|!!})
    '''
