'.text.html.php.blade':
  'editor':
    'increaseIndentPattern': '''(?x)
      # From language-html
      <(?!\\?|(?:area|base|br|col|frame|hr|html|img|input|link|meta|param)\\b|[^>]*/>)
      ([-_\\.A-Za-z0-9]+)(?=\\s|>)\\b[^>]*>(?!.*</\\1>)
      |<!--(?!.*-->)
      |<\\?php.+?\\b(if|else(?:if)?|for(?:each)?|while)\\b.*:(?!.*end\\1)
      |\\{[^}"\']*$
      # Blade specific
      |(?<![A-Za-z0-9_@])
       @
       (
        can
       |cannot
       |else
       |elseif
       |empty
       |for
       |foreach
       |forelse
       |hasSection
       |if
       |push
       |section
       |unless
       |while
       )
       \\b
      |(?<![A-Za-z0-9_@])
       @php\\b
       (?! # Not followed by
        \\s*\\( # Single line @php ($expression)
       |.*(?<![A-Za-z0-9_@])@endphp\\b # @endphp on same line
       )
    '''
    'decreaseIndentPattern': '''(?x)
      # From language-html
      ^\\s*
      (</(?!html)
        [-_\\.A-Za-z0-9]+\\b[^>]*>
        |-->
        |<\\?(php)?\\s+(else(if)?|end(if|for(each)?|while))
        |\\}
        # Blade specific
        |(?<![A-Za-z0-9_@])
         @
         (
          append
         |else
         |elseif
         |empty
         |endcan
         |endcannot
         |endfor
         |endforeach
         |endforelse
         |endif
         |endphp
         |endpush
         |endsection
         |endunless
         |endwhile
         |overwrite
         |show
         |stop
         )
         \\b
      )
    '''
# Required because of .source.php HACK
'.support.function.construct.end.blade .source.php':
  'editor':
    'decreaseIndentPattern': '''
      (?x) # From language-php
      ^(.* \\*\\/)?\\s*
      # Blade specific
      (}|!!})
    '''
